@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  30% {
    transform: translateX(20px) rotate(20deg);
  }
  40% {
    transform: translateX(-20px) rotate(-20deg);
  }
  60% {
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  font-family: 'Montserrat', sans-serif;
  background-color: #0366d6;
  color: white;
  outline: none;
  border-radius: 10px;
  height: 40px;
  min-width: 100px;
  font-size: 1.1rem;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  * {
    margin: 5px;
  }
  svg {
    height: 80%;
  }
  &:hover svg {
    animation: spin 1.5s infinite linear;
  }
  &:enabled {
    cursor: pointer;
  }
  &:hover:enabled {
    background-color: #044289;
    transform: scale(105%);
  }
  &:disabled {
    background-color: #79b8ff;
  }
}

body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  height: 100vh;
  background-position: bottom;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  h1 {
    font-size: 3rem;
  }
  #menuBox {
    width: 50%;
    min-width: 300px;
    padding: 50px 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #d1d5da;
    .menuBox-content {
      width: 80%;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &#rules {
        ol {
          margin: 50px 0;
          font-size: 1.2rem;
          li {
            margin: 10px 0;
          }
        }
      }
      &#levels {
        .level {
          padding: 20px;
          margin: 10px;
          width: 30%;
          text-align: center;
          color: white;
          border-radius: 10px;
          cursor: pointer;
          transition: transform 0.2s;
          position: relative;
          &:hover {
            transform: scale(105%);
          }
          &#easy {
            background-color: #28a745;
          }
          &#normal {
            background-color: #ffd33d;
          }
          &#hard {
            background-color: #d73a49;
          }
          .checkmark {
            display: none;
            height: 25px;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
          }
          &:nth-child(3) {
            margin-top: 30px;
          }
          &:last-child {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  #game {
    display: none;
    #restart-game {
      display: flex;
      color: back;
      position: absolute;
      top: 40px;
      left: 40px;
      background-color: white;
      cursor: pointer;
      align-items: center;
      padding: 20px;
      border-radius: 10px;
      &:hover svg {
        animation: spin 1.5s infinite linear;
      }
      #restart-text {
        display: none;
        margin-left: 15px;
      }
      svg {
        height: 50px;
      }
    }
    #form {
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translate(-50%, -50%);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      input {
        outline: none;
        margin: 10px 0;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #d1d5da;
        border-radius: 10px;
        height: 40px;
        font-size: 2rem;
        width: 30%;
        min-width: 200px;
        font-family: 'Montserrat', sans-serif;
      }
    }
    #livebar {
      display: flex;
      position: absolute;
      bottom: 20px;
      left: 20px;
      .live {
        background-image: url(../images/pokeball.png);
        background-size: cover;
        background-position: center;
        height: 80px;
        width: 80px;
        margin: 10px;
      }
    }
    #pokeball {
      position: absolute;
      bottom: 175px;
      left: -80px;
      background-image: url(../images/pokeball.png);
      background-size: cover;
      background-position: center;
      height: 80px;
      width: 80px;
      animation: spin 1s infinite linear;
      z-index: 1000;
      transition: bottom 0.3s;
    }
    #pokemon {
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 200px;
      bottom: 125px;
    }
  }
  #end {
    position: fixed;
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 0.8;
    z-index: 2000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
